<table>
  <tr>
    <td>
      <div class="image">
        <a href="https://facebook.com/">
          <img src="<%=companyLinks.facebook %>" alt="facebook" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://instagram.com/">
          <img src="<%=companyLinks.instagram %>" alt="instagram" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://twitter.com/">
          <img src="<%=companyLinks.twitter %>" alt="twitter" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://youtube.com/">
          <img src="<%=companyLinks.youtube %>" alt="youtube" />
        </a>
      </div>
    </td>
    <td>
      <div class="image">
        <a href="https://linkedin.com/">
          <img src="<%=companyLinks.linkedin %>" alt="linkedin" />
        </a>
      </div>
    </td>
  </tr>
</table>
